.flex {
    display: flex;
}

.center {
    display: flex;
    justify-content: center;
}

.ai-center {
    align-items: center;
}

.ai-start {
    align-items: start;
}

.jc-center {
    justify-content: center;
}

.jc-start {
    justify-content: start;
}

.f-d-c {
    flex-direction: column;
}

.space-between {
    display: flex;
    justify-content: space-between;
}

.g-20 {
    gap: 20px;
}

.g-10 {
    gap: 10px;
}

.g-30 {
    gap: 30px;
}

.g-40 {
    gap: 40px;
}

.b {
    border: 1px solid #111;
}

.bc-i {
    background-color: #F5F5F5;
}

.h-40 {
    height: 40px;
}

.h-50 {
    height: 50px;
}

.h-60 {
    height: 60px;
}

.h-70 {
    height: 70px;
}

.h-165 {
    height: 165px;
}


.w-40 {
    width: 40px;
}

.w-50 {
    width: 50px;
}

.w-60 {
    width: 60px;
}

.w-70 {
    width: 70px;
}

.w-165 {
    width: 165px;
}

.w-140 {
    width: 140px;
}

.w-1440 {
    width: 1440px;
}

.h-140 {
    height: 140px;
}

.b-r {
    border-radius: 5px;
}

.b-r-100 {
    border-radius: 100%;
}

.p-l-20 {
    padding-left: 20px;
}

.p-l-30 {
    padding-left: 30px;
}

.p-l-40 {
    padding-left: 40px;
}

.p-l-50 {
    padding-left: 50px;
}

.p-l-60 {
    padding-left: 60px;
}

.p-15-20 {
    padding: 15px 20px;
}

.p-5 {
    padding: 5px;
}

.p-40-80 {
    padding: 40px 80px;

}

.m-t-20 {
    margin-top: 20px;
}

.m-t-40 {
    margin-top: 40px;
}

.m-t-50 {
    margin-top: 50px;
}

.m-t-60 {
    margin-top: 60px;
}

.red {
    color: red;
}

.w-400 {
    width: 400px;
}

.c-w {
    color: white;
}

.c-b {
    color: black;
}

.bd {
    border: 1px black solid;
}

.w-400 {
    width: 400px;
}